<body class="onepicss">
<check if="{{ isset(@picss.image) }}">	
	<img class="picss-image-bg" src="{{ '/data/'.@picss.image }}" alt="{{ @picss.label }}" style="opacity: 0.1;" />

	<div class="row">
		<div class="col-md-1 back-button top-row"><!-- 1. back button -->
        	<a href="/"><i class="fa fa-3x fa-angle-left"></i></a>
    	</div>
    	<div class="col-md-6 gap top-row"><!-- 2. gap -->
  	  	</div>
  	  	<div class="col-md-2 gap top-row"><!-- 2. gap -->
  	  	</div>
	</div>

	<div class="row">
		<div class="col-md-1 gap"><!-- 2. gap -->
  	  	</div>
  	  	<div class="col-md-6 picss-image"><!-- 3. photo -->
    		<!-- <a id="picss-image-link" href="{{ '/data/'.@picss.image }}" title="{{ ucwords(@picss.name) }}"> -->
				<img class="picss-image" src="{{ '/data/'.@picss.image }}" alt="{{ @picss.label }}" />
			<!-- </a> -->
    	</div>
    	<div class="col-md-2 gap"><!-- 2. gap -->
    		<!-- <span class="report">
				<a href="#"><i class="fa fa-2x fa-thumbs-down"></i></a>
			</span> -->
  	  	</div>
	</div>

	<div class="row">
		<div class="col-md-1 gap"><!-- 2. gap -->
  	  	</div>
  	  	<div class="col-md-6 controls"><!-- 2. controls -->
			<span class="play-button pull-left">
				<a href="#"><i class="fa fa-2x fa-play"></i></a>
			</span>
			<span class="mute-button pull-left">
				<a href="#"><i class="fa fa-2x fa-volume-up"></i></a>
			</span>
			<!-- <span class="star-button">
				<a href="#"><i class="fa fa-2x fa-heart-o"></i></a>(5)
			</span> -->
			<span class="facebook-button pull-right">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ urlencode('http://'.@HOST.'/p/'.@picss._id) }}" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
			</span>
			<span class="twitter-button pull-right">
				<a href="https://twitter.com/share?url={{ urlencode('http://'.@HOST.'/p/'.@picss._id) }}" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
			</span>
			<!-- <span class="gplus-button pull-right">
				<a href="#" target=""><i class="fa fa-2x fa-google-plus-square"></i></a>
			</span> -->
  	  	</div>

  	  	<div class="col-md-2 info"><!-- 3. info -->
  	  		<p class="h2">{{ ucwords(@picss.name) }}</p>
  	  		<check if="{{ isset(@picss.label) }}"><p>{{ ucwords(@picss.label) }}</p></check>
			<check if="{{ isset(@picss.date) }}">
				<p>
					<script>document.write(moment("{{ @picss.date }}","X").fromNow());</script>
					 <!-- {{ date("D, d M Y", @picss.date) }} -->
				</p>
			</check>
			<!-- <check if="{{ isset(@picss.track) }}">
				<p><i class="fa fa-music"></i>{{ date("D, d M Y", @picss.date) }}</p>
			</check> -->
    	</div>
	</div>

	<check if="{{ isset(@picss.sound) }}">
		<audio id="picss-audio" src="{{ @uploadsDir.@picss.sound }}" autoplay>
			<p>Your browser does not support the audio element.</p>
		</audio>
	</check>
	<script type="text/javascript">


	var picssAudio = document.getElementById("picss-audio");
	var isPlaying = true;

	/* Play / Pause control */
	$( ".play-button" ).click(function(event) {
		if (isPlaying) { // pause
			$( ".play-button i" ).attr('class', 'fa fa-2x fa-pause');
			picssAudio.pause();
			isPlaying = false;
		}
		else { // resume
			$( ".play-button i" ).attr('class', 'fa fa-2x fa-play');
			picssAudio.play();
			isPlaying = true;
		}
	});
	/* Mute control */
	$( ".mute-button" ).click(function(event) {
		if (picssAudio.muted) { // un-mute
			$( ".mute-button i" ).attr('class', 'fa fa-2x fa-volume-up');
			picssAudio.muted = false;
		}
		else { // mute
			$( ".mute-button i" ).attr('class', 'fa fa-2x fa-volume-off');
			picssAudio.muted = true;
		}
	});

	picssAudio.addEventListener("ended", function() { 
		$( ".play-button i" ).attr('class', 'fa fa-2x fa-play');
		isPlaying = false;
	 }, true);


	$(document).ready(function() {
		$("#picss-image-link").fancybox({
		openEffect	: 'elastic',
    	closeEffect	: 'elastic',
    	closeBtn : false,
    	closeClick : true,
    	helpers : {
    		title : {
    			type : 'over'
    		}
    	}
    	});
	});

	</script>
</check>
</body>
