<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ @pageTitle }}</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/resources/css/admcommon.css" type="text/css" />
	</head>
	<body class="admin">
		<div class="row">
			<div class="categories col-md-3">
				<h1>Categories</h1>
				<h4>LATESTS - <a href="/aaa/picss">All</a></h4>
				<p>
					<ul>
					<repeat group="{{ @latestPicss }}" value="{{ @item }}">
						<li><a href="/aaa/picss/{{ @item._id }}">{{ ucfirst(@item.name) }}</a></li>
					</repeat>
					</ul>
				</p>
				<h4>BETA USERS - <a href="/aaa/users">All</a></h4>
				<p>
					<ul>
					<repeat group="{{ @latestBetaUsers }}" value="{{ @item }}">
						<li><a href="/aaa/users/{{ @item._id }}">{{ @item.email }}</a></li>
					</repeat>
					</ul>
				</p>
				<h4>LOGOUT</h4>
				<p>
					<a class="btn btn-default" role="button" href="/logout">
						<span class="glyphicon glyphicon-circle-arrow-left"></span> Leave
					</a>
				</p>
			</div>
			<div class="iframe col-md-9">
				<include href="{{ @content }}" />
			</div>
		</div>
	</body>
</html>