<h2>All Picss</h2>
<ul>
<repeat group="{{ @items }}" value="{{ @item }}">

	<li><a href="/aaa/picss/{{ @item._id }}">{{ @item.name }}</a></li>

</repeat>
</ul>
<check if="{{ isset(@picss) }}">
<h2>{{ @picss.name }}</h2>
<table>
	<thead><td>DETAILS</td><td><a href="#">Hide</a> or <a href="{{ @picss._id }}/d">Delete</a></td></thead>
	<tr><td rowspan="5"><img src="/data/{{ @picss.image }}" height="150px" alt="{{ @picss.name }}" /></td></tr>
	<tr><td>Id:</td><td>{{ @picss._id }}</td></tr>
	<tr><td>Date:</td><td><check if="{{ isset(@picss.date) }}">{{ date("D, d M Y", @picss.date) }}</check></td></tr>
	<tr><td>IP:</td><td><check if="{{ isset(@picss.ip) }}">{{ @picss.ip }}</check></td></tr>
	<tr><td>Sound:</td><td><a href="{{ @picss.sound }}">{{ @picss.sound }}</a></td></tr>
</table>
</check>
</ul>