<div class="row admpicss">
	<div class="col-md-4">
		<h2>All Picss</h2>
		<ul>
		<repeat group="{{ @items }}" value="{{ @item }}">

			<li><a href="/aaa/picss/{{ @item._id }}">{{ ucfirst(@item.name) }}</a></li>

		</repeat>
		</ul>
	</div>
	<div class="col-md-8">
		<check if="{{ isset(@picss) }}">
		<h2>{{ ucfirst(@picss.name) }}</h2>
		<img src="/data/{{ @picss.image }}-250.jpg" height="150px" alt="{{ @picss.name }}" class="picss-image" />
		<table class="table table-striped">
			<thead><th colspan="2">DETAILS</th></thead>
			<tr><td>Label(s):</td><td><check if="{{ isset(@picss.label) }}">{{ @picss.label }}</check></td></tr>
			<tr><td>Date:</td><td><check if="{{ isset(@picss.date) }}">{{ date("D, d M Y", @picss.date) }}</check></td></tr>
			<tr><td>Sound:</td><td>{{ @picss.sound }}</td></tr>
			<tr>
				<td>Public URLs:</td>
				<td>
					<a target="_blank" href="/p/{{ @picss._id }}">/p/{{ @picss._id }}</a>
					<check if="{{ isset(@picss.urlId) }}"><br /><a target="_blank" href="/p/{{ @picss.urlId }}">/p/{{ @picss.urlId }}</a></check>
				</td>
			</tr>
			<tr><td>Id:</td><td>{{ @picss._id }}</td></tr>
			<tr><td>Hash ID:</td><td><check if="{{ isset(@picss.urlId) }}">{{ @picss.urlId }}</check></td></tr>
			<tr><td>IP:</td><td><check if="{{ isset(@picss.ip) }}">{{ @picss.ip }}</check></td></tr>
		</table>
		<p>
			<a class="btn btn-default" role="button" href="#">
				<span class="glyphicon glyphicon-eye-close"></span> Hide
			</a>
			or
			<a class="btn btn-danger" role="button" href="{{ @picss._id }}/d">
				<span class="glyphicon glyphicon-remove"></span> Delete
			</a>
		</p>
		</check>
		</ul>
	</div>
</div>