<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="/resources/js/picss-js.js"></script>
		<script src="/resources/js/moments.js"></script>
		<link rel="stylesheet" href="/resources/css/common.css" type="text/css" />
		<check if="{{ isset(@pageCss) }}"><link rel="stylesheet" href="/resources/css/{{ @pageCss }}" type="text/css" /></check>
		<link rel="stylesheet" href="/resources/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
		<script type="text/javascript" src="/resources/js/jquery.fancybox.pack.js?v=2.1.5"></script>
		<title>{{ @pageTitle }}</title>
	</head>
	
	<!-- included file must contain the body element -->
	<include href="{{ @content }}" />

</html>
