<body class="onepicss">
<check if="{{ isset(@picss.image) }}">	
	<img class="picss-image-bg" src="{{ '/data/'.@picss.image }}" alt="{{ @picss.label }}" style="opacity: 0.1;" />

	<div class="row">
      <div class="col-md-1 back-button top-row">
        <a href="/"><img class="img-circle" src="/resources/images/icon-back.png" /></a>
      </div>
      <div class="col-md-1 gap top-row">
  	  </div>
      <div class="col-md-8 picss-title top-row">
      	<h2>{{ ucwords(@picss.name) }}</h2>
      </div>
    </div>

    <div class="row">
    	<div class="col-md-1">
  		</div>
    	<div class="col-md-1 controls">
    		<span class="mute-button">
				<a href="#">
					<img src="/resources/images/icon-sound-on.png" alt="volume" />
				</a>
			</span>
			<span class="play-button">
				<a href="#">
					<img src="/resources/images/icon-stop-white-48.png" alt="control" />
				</a>
			</span>
			<!-- <span class="star-button">
				<a href="#">
					<img src="/resources/images/icon-star-empty.png" alt="like" />
				</a>
			</span> -->
			<span class="facebook-button">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ urlencode('http://'.@HOST.'/p/'.@picss._id) }}" target="_blank">
					<img src="/resources/images/icon-facebook.png" alt="Facebook" />
				</a>
			</span>
			<span class="twitter-button">
				<a href="https://twitter.com/share?url={{ urlencode('http://'.@HOST.'/p/'.@picss._id) }}" target="_blank">
					<img src="/resources/images/icon-twitter.png" alt="Twitter" />
				</a>
			</span>
    	</div>
    	<div class="col-md-8 picss-image">
    		<a id="picss-image-link" href="{{ '/data/'.@picss.image }}" title="{{ ucwords(@picss.name) }}">
				<img class="picss-image" src="{{ '/data/'.@picss.image }}" alt="{{ @picss.label }}" />
			</a>
    	</div>
    </div>

  	<div id="row">
  		<div class="col-md-1">
  		</div>
  		<div class="col-md-1">
  		</div>
		<div class="col-md-8 picss-label">
			<check if="{{ isset(@picss.label) }}">
			<!-- <span>
				{{ ucwords(@picss.label) }}
			</span> -->
			</check>
			
      	</div>
    </div>

	<check if="{{ isset(@picss.sound) }}">
		<audio id="picss-audio" src="{{ @uploadsDir.@picss.sound }}" autoplay>
			<p>Your browser does not support the audio element.</p>
		</audio>
	</check>
	<script type="text/javascript">


	var picssAudio = document.getElementById("picss-audio");
	var isPlaying = true;

	/* Play / Pause control */
	$( ".play-button" ).click(function(event) {
		if (isPlaying) { // pause
			$( ".play-button img" ).attr('src', '/resources/images/icon-play-white-48.png');
			picssAudio.pause();
			isPlaying = false;
		}
		else { // resume
			$( ".play-button img" ).attr('src', '/resources/images/icon-stop-white-48.png');
			picssAudio.play();
			isPlaying = true;
		}
	});
	/* Mute control */
	$( ".mute-button" ).click(function(event) {
		if (picssAudio.muted) { // un-mute
			$( ".mute-button img" ).attr('src', '/resources/images/icon-sound-on.png');
			picssAudio.muted = false;
		}
		else { // mute
			$( ".mute-button img" ).attr('src', '/resources/images/icon-sound-off.png');
			picssAudio.muted = true;
		}
	});

	picssAudio.addEventListener("ended", function() { 
		$( ".play-button img" ).attr('src', '/resources/images/icon-play-white-48.png');
		isPlaying = false;
	 }, true);


	$(document).ready(function() {
		$("#picss-image-link").fancybox({
		openEffect	: 'elastic',
    	closeEffect	: 'elastic',
    	closeBtn : false,
    	closeClick : true,
    	helpers : {
    		title : {
    			type : 'over'
    		}
    	}
    })
	});

	</script>
</check>
</body>
