<body class="onepicss">
<check if="{{ isset(@picss.image) }}">	
	<img class="picss-image-bg" src="{{ '/uploads/'.@picss.image }}" alt="{{ @picss.label }}" style="opacity: 0.1;" />

	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        	<div class="masthead clearfix">
            	<div class="inner">
              		<span class="back-button overlay">
					<a href="/">
						<img class="img-circle" src="/resources/images/icon-back.png" />
					</a>
					</span>
            	</div>
          	</div>

	        <div class="inner cover">
	        	<h1 class="cover-heading">{{ @picss.name }}</h1>
				<a id="picss-image-link" href="{{ '/uploads/'.@picss.image }}" title="{{ @picss.name }}">
					<img class="picss-image img-rounded" src="{{ '/uploads/'.@picss.image }}" alt="{{ @picss.label }}" />
				</a>
			</div>

			<div class="mastfoot">
	            <div class="inner overlay">

						<span class="mute-button">
							<a href="#">
								<img src="/resources/images/icon-sound-on.png" />
							</a>
						</span>
						<span class="play-button">
							<a href="#">
								<img src="/resources/images/icon-stop-dark.png" />
							</a>
						</span>
						<span class="star-button">
							<a href="#">
								<img src="/resources/images/icon-star-empty.png" />
							</a>
						</span>
						<check if="{{ isset(@picss.label) }}">
						<span class="picss-label">
							{{ @picss.label }}
						</span>
						</check>
						<span>
							<a href="https://www.facebook.com/sharer/sharer.php?u={{ urlencode('http://'.@HOST.'/picss/'.@picss._id) }}" target="_blank">Fb</a>
						</span>
						<span>
							<a href="https://twitter.com/share?url={{ urlencode('http://'.@HOST.'/picss/'.@picss._id) }}" target="_blank">Tweet</a>
						</span>

				</div>
			</div>
	
		</div>

      </div>

  	</div>

	<check if="{{ isset(@picss.sound) }}">
		<audio id="picss-audio" src="{{ @uploadsDir.@picss.sound }}" autoplay>
			<p>Your browser does not support the audio element.</p>
		</audio>
	</check>
	<script type="text/javascript">


	var picssAudio = document.getElementById("picss-audio");
	var isPlaying = true;

	/* Play / Pause control */
	$( ".play-button" ).click(function(event) {
		if (isPlaying) { // pause
			$( ".play-button img" ).attr('src', '/resources/images/icon-play-dark.png');
			picssAudio.pause();
			isPlaying = false;
		}
		else { // resume
			$( ".play-button img" ).attr('src', '/resources/images/icon-stop-dark.png');
			picssAudio.play();
			isPlaying = true;
		}
	});
	/* Mute control */
	$( ".mute-button" ).click(function(event) {
		if (picssAudio.muted) { // un-mute
			$( ".mute-button img" ).attr('src', '/resources/images/icon-sound-on.png');
			picssAudio.muted = false;
		}
		else { // mute
			$( ".mute-button img" ).attr('src', '/resources/images/icon-sound-off.png');
			picssAudio.muted = true;
		}
	});

	$(document).ready(function() {
		$("#picss-image-link").fancybox({
		openEffect	: 'elastic',
    	closeEffect	: 'elastic',
    	closeBtn : false,
    	closeClick : true,
    	helpers : {
    		title : {
    			type : 'over'
    		}
    	}
    })
	});

	</script>
</check>
</body>
