/*
 * ALL PICSS PAGE
 */

body.allpicss {
	/*background-color: #f0ad4e;*/
	padding-top: 70px;
	background: rgb(207,231,250); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(207,231,250,1)), color-stop(100%,rgba(99,147,193,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.picss-thumbnail {
	position: relative;
	margin-top: 10px;
}

.picss-thumbnail .info {
	visibility: hidden;
	background-color: #5bc0de;
	position: absolute;
	padding: 8px;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	filter:alpha(opacity=70);
  	-moz-opacity:0.7;
  	-khtml-opacity: 0.7;
  	opacity: 0.7;
}

.picss-thumbnail:hover .info{ visibility:visible; } /* makes the info panel visible when the mouse overs the thumbnail */

.picss-thumbnail .info .name {
	color: #d9534f;

}

.picss-thumbnail .info .play-icon {
	position: absolute;
	top: 90px;
	left: 160px;
}

.picss-thumbnail .info .sound {
	color: #d9534f;
	position: absolute;
	bottom: 8px;
}
