/*
 * ONE PICSS PAGE
 */
 
body {
	padding: 0;
	margin: 0;
  background-color: #111;
}

.top-row {
    min-height: 70px;
    vertical-align: middle;
    color: #EEE;
}

.gap {
  /*background-color: ;*/
}

.back-button {
  background-color: #FFBB33;
  text-align: center;
}

.picss-title {
  /*background-color: #FFBB33;*/
}

.controls {
  /*background-color: #FFBB33;*/
  /*border-left: 4px solid #33B5E5;*/
}

.controls img {
  padding: 7px;
/*  padding-bottom: 15px;*/
}

.controls img:hover {
  /*padding-top: 2px;
  padding-bottom: 13px;*/
  /*background-color: #FF8800;*/
  border-left: 4px solid #FFBB33;
}

.picss-image {
  padding: 0;
}

.picss-image img {
	width: 100%;
}

.picss-label {
  text-align: right;
}


