/*
 * ONE PICSS PAGE
 */
 
body {
	padding: 0;
	margin: 0;
  background-color: #111;
  background: url("/resources/images/bg-grid.jpeg");
}

/* layout */
.top-row {
    min-height: 70px;
    vertical-align: middle;
    color: #EEE;
}

/* report button */
.report {

}
.report i {
  color: #CCC;
}
.report i:hover {
  color: #BBB;
}

/* back button */
.back-button {
  background-color: #FFBB33;
  text-align: center;
}
.back-button i {
  line-height: 2;
  color: white;
}
.back-button i:hover {
  color: #333;
}

/* controls */
.controls {
  text-align: center;
}
.controls i {
  color: #999;
  padding: 15px;
}
.controls i:hover {
  color: #FFBB33;
}

/* info */
.info {
  background-color: #FFBB33;
  text-align: center;
  padding-bottom: 3px;
}

/* picss image */
.picss-image {
  padding: 0;
}

.picss-image img {
	width: 100%;
}



