/*
 * COMMON STYLE
 */


.picss-icon {
	background-color: #FFBB33;
	color: white;
	padding: 0.04em 0.17em 0.06em 0.17em;
}

.picss-credits {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.picss-image-bg {
  position: fixed;
  top: 0; left: 0;
  min-height: 120%;
  min-width: 120%;
}

/* 
 * CUSTOM NAVIGATION
 */

/*
.navbar-default { /* background image of the nav bar //
	background-image: url('http://farm1.staticflickr.com/168/475350340_f4912bfb68_o.jpg');
	/* Credits image: http://www.flickr.com/photos/84387357@N00/475350340/ //
	 }
.navbar-default .navbar-brand { color: #333; } /* text color of the brand //
.navbar-default .navbar-brand:hover { color: #333; } /* color of the brand:hover  //
.navbar-default .navbar-nav>li>a { color: #d9534f; } /* color of the links //
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	/* color and background of the active link //
	color: #d9534f;
	background-color: #f0ad4e;
}
.navbar-default .container-fluid { /* gradient orange of the nav bar //
	background: -moz-linear-gradient(left,  rgba(249,137,0,0.5) 0%, rgba(255,255,255,0.5) 100%); /* FF3.6+ //
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,137,0,0.5)), color-stop(100%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ //
	background: -webkit-linear-gradient(left,  rgba(249,137,0,0.5) 0%,rgba(255,255,255,0.5) 100%); /* Chrome10+,Safari5.1+ //
	background: -o-linear-gradient(left,  rgba(249,137,0,0.5) 0%,rgba(255,255,255,0.5) 100%); /* Opera 11.10+ //
	background: -ms-linear-gradient(left,  rgba(249,137,0,0.5) 0%,rgba(255,255,255,0.5) 100%); /* IE10+ //
	background: linear-gradient(to right,  rgba(249,137,0,0.5) 0%,rgba(255,255,255,0.5) 100%); /* W3C //
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80f98900', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 //

}
*/



